/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}

/*header*/
header {
  display: flex;
  justify-content: center;
}
header .bg-fondo {
  width: 30%;
}
header .bg-fondo img {
  margin: 15px;
  width: 70px;
}
header .bg-fondo .navbar-nav {
  margin-top: 10px;
  list-style: none;
  height: 60%;
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  border: 4px solid rgba(73, 151, 253, 0.075);
  background-color: rgba(73, 151, 253, 0.062);
}
header .bg-fondo a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
header .bg-fondo a:hover {
  text-decoration: underline;
  color: rgba(73, 151, 253, 0.877);
}

/*footer*/
footer {
  background-color: rgba(73, 151, 253, 0.137);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
footer .logo {
  width: 80px;
}
footer .contenedor_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
footer .contenedor_footer img {
  width: 50px;
}

/*section_banner_bienvenida*/
.banner_index {
  width: 100%;
  display: flex;
  align-items: center;
}
.banner_index h1 {
  font-size: 7.5rem;
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 255, 255, 0.582), 0 0 15px rgba(0, 0, 255, 0.9);
  align-items: center;
  margin-left: 40px;
}
.banner_index h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 15px;
  margin-left: 15px;
  text-align: start;
}
.banner_index h3 {
  font-size: 1rem;
  margin-left: 15px;
  text-align: end;
  padding: 10px;
  border-radius: 12px;
  text-transform: uppercase;
  color: rgba(73, 151, 253, 0.877);
}
.banner_index p {
  font-size: 1.2rem;
  margin-left: 30px;
}
.banner_index img {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  mask-image: linear-gradient(black 80%, transparent);
}

/*Section2_index_cards*/
.container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  text-align: center;
}
.container div {
  width: 30%;
  justify-content: space-around;
}
.container div h2 {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  font-size: 1.5rem;
}
.container div p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.507);
}
.container div .card {
  background-color: rgba(129, 191, 250, 0.048);
  padding: 20px;
  text-align: start;
  border-radius: 12px;
  margin-top: 10px;
  width: 100%;
}
.container div a {
  text-decoration: none;
  color: white;
  background-color: rgba(73, 151, 253, 0.877);
  padding: 10px;
  border-radius: 20px;
}
.container div a:hover {
  background-color: white;
  color: rgba(73, 151, 253, 0.877);
  font-weight: bold;
}

/*section3_index*/
.section_index2 {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section_index2 h3 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
}
.section_index2 h4 {
  color: rgba(73, 151, 253, 0.877);
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  text-transform: uppercase;
}

/*Section_artistas*/
.s_artistas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 10em auto;
  gap: 10em;
}
.s_artistas h1 {
  font-size: 3rem;
  text-align: center;
  color: rgba(73, 151, 253, 0.877);
}
.s_artistas .card_a {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.s_artistas .card_a div {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  align-items: center;
}
.s_artistas .card_a h2 {
  font-size: 2rem;
  margin: 10px;
  color: rgba(73, 151, 253, 0.877);
  margin-left: 0.5em;
}
.s_artistas .card_a p {
  padding: 10px;
  margin: 10px;
  width: 100%;
  font-size: 1rem;
  text-align: justify;
}
.s_artistas .card_a h3 {
  padding: 15px;
  font-size: 1rem;
}
.s_artistas .card_a ul {
  padding: 25px;
  margin: 15px;
}
.s_artistas .card_a img {
  width: 50%;
  height: 500px;
  mask-image: linear-gradient(black 50%, transparent);
  padding-bottom: 3em;
}

/*Section_blog*/
.container_main_blog {
  margin: 3em 10em;
  padding: 2em;
  border-radius: 10px;
}
.container_main_blog h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
.container_main_blog .introduccion_blog {
  background-color: rgba(129, 191, 250, 0.048);
  padding: 1em;
  border-radius: 15px;
  margin-bottom: 3em;
  text-align: justify;
}
.container_main_blog .introduccion_blog h2 {
  text-align: center;
  color: rgba(73, 151, 253, 0.877);
  margin-bottom: 5px;
}
.container_main_blog .introduccion_blog p {
  font-size: 1rem;
}

.artistas_blog h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: rgba(73, 151, 253, 0.877);
  padding-left: 20px;
}
.artistas_blog h3 {
  text-align: end;
  padding: 1em;
}
.artistas_blog p {
  width: 90%;
  text-align: justify;
  margin-bottom: 1em;
  font-size: 1rem;
  margin-left: 20px;
}
.artistas_blog h4 {
  margin: 1.5em;
}
.artistas_blog ul {
  margin: 2em;
  padding-bottom: 1em;
}

/*section_eventos*/
.section_eventos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-template-areas: " evento_1 evento_2  evento_3" " evento_4 evento_5 evento_6";
  gap: 20px;
  width: 80%;
  margin: 1.5em auto;
}
.section_eventos div {
  text-align: center;
  border-radius: 15px;
}
.section_eventos h2 {
  padding-left: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  height: 80%;
}
.section_eventos .evento_1 {
  grid-area: evento_1;
  background-image: url(../img/evento_img1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_eventos .evento_2 {
  grid-area: evento_2;
  background-image: url(../img/evento_img2.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_eventos .evento_3 {
  grid-area: evento_3;
  background-image: url(../img/evento_img3.avif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_eventos .evento_4 {
  grid-area: evento_4;
  background-image: url(../img/evento_img4.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_eventos .evento_5 {
  grid-area: evento_5;
  background-image: url(../img/evento_img5.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section_eventos .evento_6 {
  grid-area: evento_6;
  background-image: url(../img/evento_img6.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*section_contacto*/
.section_form {
  background: linear-gradient(0deg, rgba(73, 151, 253, 0.404), 50%, rgba(0, 0, 0, 0.116));
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section_form .contenedor_main {
  background-color: rgba(255, 255, 255, 0.226);
  border: 4px solid rgba(255, 255, 255, 0.26);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6PX 15PX rgba(255, 255, 255, 0.281);
  text-align: center;
  position: relative;
  width: 90vh;
  max-width: 100%;
  min-height: 400px;
  margin: 5em;
}
.section_form .contenedor_main form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}
.section_form .contenedor_main h1 {
  text-align: center;
  color: rgba(73, 151, 253, 0.603);
  font-weight: bold;
  font-size: 2rem;
}
.section_form .contenedor_main input {
  background-color: rgba(0, 0, 0, 0.247);
  color: white;
  border: none;
  margin: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
}
.section_form .contenedor_main .panel_1 {
  margin: 10px;
}
.section_form .contenedor_main .panel_1 h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.section_form .contenedor_main .panel_1 p {
  text-align: start;
  margin-bottom: 5px;
}
.section_form .contenedor_main button {
  background-color: rgba(73, 151, 253, 0.603);
  color: white;
  padding: 10px 45px;
  border-radius: 20px;
  border: 1px solid transparent;
  text-transform: uppercase;
  margin-top: 15px;
}
.section_form .contenedor_main button:hover {
  background-color: black;
  color: rgba(73, 151, 253, 0.877);
  font-weight: bold;
}
.section_form .container_form_Sing-in h2 {
  text-align: center;
  color: rgba(73, 151, 253, 0.603);
  padding: 15px;
  font-weight: bold;
  font-size: 2rem;
}
.section_form .container_form_Sing-in .panel_2 h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.section_form .container_form_Sing-in .panel_2 p {
  text-align: start;
  margin-bottom: 5px;
}
.section_form .container_form_Sing-in a {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 10px;
}
.section_form .container_form_Sing-in a:hover {
  color: rgba(0, 0, 0, 0.623);
  text-decoration: underline;
}

/*media celulares*/
@media (max-width: 500px) {
  /*Header*/
  header {
    display: flex;
  }
  header .bg-fondo {
    width: 100%;
  }
  header .bg-fondo .navbar-nav {
    background-color: black;
    border: none;
    align-items: end;
  }
  /*section_banner_bienvenida*/
  .banner_index {
    display: flex;
    flex-direction: column;
  }
  .banner_index h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .banner_index h2 {
    font-size: 1.3rem;
  }
  .banner_index h3 {
    font-size: 0.9rem;
  }
  .banner_index p {
    font-size: 1rem;
    margin-left: 0.6em;
  }
  .banner_index img {
    height: 50%;
    margin-top: 2em;
  }
  /*section2_index_cards*/
  .container {
    flex-direction: column;
  }
  .container div {
    width: 90%;
    margin-left: 1em;
  }
  .container div h2 {
    padding-top: 2em;
    font-size: 1rem;
  }
  .container div p {
    font-size: 0.8rem;
  }
  /*section3_index*/
  .section_index2 h3 {
    font-size: 1rem;
  }
  .section_index2 p {
    font-size: 0.9rem;
    margin: 1em;
  }
  .section_index2 h4 {
    margin-top: 1em;
    font-size: 0.8rem;
  }
  /*section_artistas*/
  .s_artistas {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 2em;
  }
  .s_artistas h1 {
    font-size: 1.5rem;
    margin-top: 1em;
  }
  .s_artistas .card_a {
    flex-direction: column;
    margin-top: 1em;
  }
  .s_artistas .card_a div {
    font-size: 1rem;
    width: 90%;
    height: 550px;
    margin: 1em;
  }
  .s_artistas .card_a div h2 {
    font-size: 1rem;
    text-align: center;
  }
  .s_artistas .card_a div p {
    font-size: 0.9rem;
    margin-left: 5px;
  }
  .s_artistas .card_a div h3 {
    padding: 10px;
  }
  .s_artistas .card_a div ul {
    font-size: 0.9rem;
    margin-bottom: 3em;
  }
  .s_artistas .card_a img {
    height: 400px;
    width: 100%;
    margin-top: 4em;
    align-items: center;
  }
  /*Section_blog*/
  .container_main_blog {
    margin: 5px;
    font-size: 1rem;
  }
  .container_main_blog h1 {
    font-size: 1.3rem;
  }
  .container_main_blog .introduccion_blog {
    text-align: start;
    background-color: black;
  }
  .container_main_blog .introduccion_blog h2 {
    font: size 0.5rem;
  }
  .container_main_blog .introduccion_blog p {
    font-size: 1rem;
    text-align: justify;
  }
  .artistas_blog {
    width: 100%;
  }
  .artistas_blog h2 {
    font-size: 1.3rem;
  }
  .artistas_blog h3 {
    font-size: 1rem;
  }
  .artistas_blog p {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    margin-left: 0%;
  }
  .section_eventos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 250px);
    grid-template-areas: "evento_1" "evento_2" "evento_3" "evento_4" "evento_5" "evento_6";
  }
  .section_eventos .evento_1 {
    grid-area: evento_1;
  }
  .section_eventos .evento_2 {
    grid-area: evento_2;
  }
  .section_eventos .evento_3 {
    grid-area: evento_3;
  }
  .section_eventos .evento_4 {
    grid-area: evento_4;
  }
  .section_eventos .evento_5 {
    grid-area: evento_5;
  }
  .section_eventos .evento_6 {
    grid-area: evento_6;
  }
  /*Section_contacto*/
  .section_form .contenedor_main {
    margin: 6em auto;
    width: 60vh;
  }
  /*footer*/
  footer {
    flex-direction: column;
    padding: 2px;
    background-color: rgba(73, 151, 253, 0.089);
  }
  footer .logo {
    width: 80px;
    padding: 10px;
  }
  footer .contenedor_footer {
    display: block;
    font-size: 0.9rem;
    padding-left: 1em;
  }
  footer .contenedor_footer img {
    width: 30px;
    margin-bottom: 1em;
  }
}
/*Media para tablet*/
@media (min-width: 501px) and (max-width: 951px) {
  header {
    display: flex;
  }
  header .bg-fondo {
    width: 100%;
  }
  header .bg-fondo img {
    width: 100px;
  }
  header .bg-fondo .navbar-nav {
    background-color: black;
    border: none;
    align-items: end;
  }
  /* section1_bienvenida */
  .banner_index {
    display: flex;
    flex-direction: column;
  }
  .banner_index h1 {
    font-size: 4rem;
    margin-top: 1em;
  }
  .banner_index h2 {
    font-size: 2rem;
  }
  .banner_index h3 {
    font-size: 1rem;
  }
  .banner_index p {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  .banner_index img {
    height: 50%;
  }
  /* Section2_cards */
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container div {
    width: 70%;
    margin-left: 1em;
  }
  .container div h2 {
    padding-top: 2em;
    font-size: 1.5rem;
  }
  .container div p {
    font-size: 1rem;
  }
  /*section3_index*/
  .section_index2 h3 {
    font-size: 1.5rem;
  }
  .section_index2 p {
    font-size: 1rem;
    margin: 1em;
  }
  .section_index2 h4 {
    margin-top: 1em;
    font-size: 1rem;
  }
  /*section_artistas*/
  .s_artistas {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 2em;
  }
  .s_artistas h1 {
    font-size: 2rem;
    margin-top: 1em;
  }
  .s_artistas .card_a {
    flex-direction: column;
    margin-top: 1em;
  }
  .s_artistas .card_a div {
    font-size: 1rem;
    width: 90%;
    height: 550px;
    margin-left: 2em;
  }
  .s_artistas .card_a div h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .s_artistas .card_a div p {
    font-size: 1rem;
    margin-left: 5px;
  }
  .s_artistas .card_a div h3 {
    padding: 10px;
  }
  .s_artistas .card_a div ul {
    font-size: 1rem;
    margin-bottom: 3em;
  }
  .s_artistas .card_a img {
    height: 550px;
    width: 100%;
    margin-top: 4em;
    align-items: center;
  }
  /*Section_blog*/
  .container_main_blog {
    margin: 5px;
    font-size: 1rem;
  }
  .container_main_blog h1 {
    font-size: 1.5rem;
  }
  .container_main_blog .introduccion_blog {
    text-align: start;
    background-color: black;
  }
  .container_main_blog .introduccion_blog h2 {
    font-size: 2rem;
  }
  .container_main_blog .introduccion_blog p {
    font-size: 1rem;
    text-align: justify;
  }
  .artistas_blog {
    width: 100%;
  }
  .artistas_blog h2 {
    font-size: 1.5rem;
  }
  .artistas_blog h3 {
    font-size: 1rem;
  }
  .artistas_blog p {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    margin-left: 0%;
  }
  /*Section_eventos*/
  .section_eventos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 350px);
    grid-template-areas: "evento_1" "evento_2" "evento_3" "evento_4" "evento_5" "evento_6";
  }
  .section_eventos .evento_1 {
    grid-area: evento_1;
  }
  .section_eventos .evento_2 {
    grid-area: evento_2;
  }
  .section_eventos .evento_3 {
    grid-area: evento_3;
  }
  .section_eventos .evento_4 {
    grid-area: evento_4;
  }
  .section_eventos .evento_5 {
    grid-area: evento_5;
  }
  .section_eventos .evento_6 {
    grid-area: evento_6;
  }
  /*Section_contacto*/
  .section_form .contenedor_main {
    margin: 6em auto;
    width: 60vh;
  }
  /*footer*/
  footer {
    flex-direction: column;
    padding: 2px;
    background-color: rgba(73, 151, 253, 0.089);
  }
  footer .logo {
    width: 80px;
    padding: 10px;
  }
  footer .contenedor_footer {
    display: block;
    font-size: 0.9rem;
    padding-left: 1em;
  }
  footer .contenedor_footer img {
    width: 30px;
    margin-bottom: 1em;
  }
}

/*# sourceMappingURL=estilos.css.map */
