/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generales*/
body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 

    width: 100%;
    height: 100vh;
}

h1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto; 
}
/*Header*/
header{
    display: flex;
    justify-content: center; 
}
header img{
    margin: 15px;
    width: 70px;
}
/* Navegación */
nav{
    width: 30%;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
nav a:hover{
    text-decoration: underline;
    color:rgba(73, 151, 253, 0.877);
}
.barra_nav{
    margin-top: 10px;
    list-style: none;
    height: 60%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border: 4px solid rgba(73, 151, 253, 0.075) ;
    background-color: rgba(73, 151, 253, 0.062) ;
}
/* Section1_bienvenida*/
.banner_index{
    width: 100%;
    display: flex;
    align-items: center;
}
.banner_index h1{
    font-size: 6rem;
    text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.7), 
    0 0 10px rgba(0, 255, 255, 0.8), 
    0 0 15px rgba(0, 0, 255, 0.9);
    align-items: center;
    margin-left: 30px;
    
}
.banner_index h2{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    margin-left: 15px;
    text-align: start;

    
}
.banner_index h3{
    font-size: 1rem;
    margin-left: 15px;
    text-align: end;
    padding: 10px;
    border-radius: 12px;
    text-transform: uppercase;
    color: rgba(73, 151, 253, 0.842) ;
}
.banner_index p{
    font-size: 1.2rem;
    margin-left: 30px;
}
.banner_index img{
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    mask-image: linear-gradient(black 80%, transparent);

}

/* Section2_cards */
.container{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    text-align: center;
}
.container div{
    width: 30%;
    justify-content: space-around;
}
.card{
    background-color: rgba(129, 191, 250, 0.048);
    padding: 20px;
    text-align: start;
    border-radius: 12px;
    margin-top: 10px;
    width: 100%;
}
container h2{
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}
.container a{
    text-decoration: none;
    color: white;
    background-color: rgba(73, 151, 253, 0.664);
    padding: 10px;
    border-radius: 20px;
}
.container a:hover{
    background-color: white;
    color: rgb(73, 151, 253);
    font-weight: bold;
}
/* Section3_index */
.section_index2{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;

}
.section_index2 h3{
    margin: 10px;
    padding: 10px;
    text-align: center;

}
.section_index2 h4{
    color: rgba(73, 151, 253, 0.733);
    margin-bottom: 15px;
    padding-bottom: 15px;

}

/*section_artistas*/

.s_artistas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 10em auto ;
    gap: 10em;
    
}
.card_a{
    display: flex;
    flex-direction: row;
    align-items: start;

}
.card_a div{
    margin-top: 40px;
    width: 100%;
    height: 400px;
    align-items: center;
}
.card_a h2{
    font-size: 2rem;
    margin: 10px;
    color:rgba(73, 151, 253, 0.733);
    
}
.card_a p{
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.card_a h3{
    padding: 15px;
    font-size: 1rem;
}
.card_a ul{
    padding: 25px;
    margin: 15px;
}
.card_a img{
    width: 50%;
   height: 500px;
   mask-image: linear-gradient(black 50%, transparent);
   padding-bottom: 3em;
}
/* section_eventos */
.section_eventos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    gap: 20px;
    width: 80%;
    margin: 1.5em auto;
   

    }
.section_eventos div{
        text-align: center;
        border-radius: 15px;
}
.section_eventos h2{
        padding-left: 10px;
        margin-left: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        height: 80%;
}
.evento_1{
    background-image: url(../img/evento_img1.jpg);
}
.evento_2{
    background-image: url(../img/evento_img2.webp);
}
.evento_3{
    background-image: url(../img/evento_img3.avif);
}
.evento_4{
    background-image: url(../img/evento_img4.jpg);
}
.evento_5{
    background-image: url(../img/evento_img5.jpeg);
}
.evento_6{
    background-image: url(../img/evento_img6.jpg);
}
/* Section_blog */
.container_main_blog{
    
    margin: 3em 10em;
    padding: 2em;
    border-radius: 10px;
}
.container_main_blog h1{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.introduccion_blog{
    background-color:rgba(73, 151, 253, 0.479) ;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 3em;
    text-align: justify;
}
.introduccion_blog h2{
    text-align: center;
    color: rgba(73, 151, 253, 0.719);
    margin-bottom: 5px;
}
.artistas_blog h2{
    font-size: 2rem;
    margin-bottom: 1em;
    color: rgba(73, 151, 253, 0.719);
    padding-left: 20px;
}
.artistas_blog h3{
    text-align: end;
    padding: 1em;
}
.artistas_blog p{
    width: 90%;
    text-align: justify;
    margin-bottom: 1em;
    font-size: 1rem;
    margin-left: 20px;
}
.artistas_blog h4{
    margin: 1.5em;
}
.artistas_blog ul{
    margin: 2em;
}

/* Contacto */
.section_form{
    background-color: rgba(73, 151, 253, 0.452);
    background: linear-gradient(0deg,rgba(73, 151, 253, 0.404), 50%, rgba(0, 0, 0, 0.116) );
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.contenedor_main{
    background-color: rgba(255, 255, 255, 0.226);
    border: 4px solid rgba(255, 255, 255, 0.26);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6PX 15PX rgba(255, 255, 255, 0.281);
    text-align: center;

    position: relative;
    width: 90vh;
    max-width: 100%;
    min-height: 400px;
}
.contenedor_main_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.contenedor_main input{
background-color: rgba(0, 0, 0, 0.247) ;
color: white;
border: none;
margin: 8px;
padding:10px 15px ;
font-size: 1rem;
border-radius: 10px;
width: 100%;
}

.panel_contacto p {
font-size: 1rem;
line-height: 20px;
letter-spacing: 0.3px;
margin: 20px 0;
}
.container_form a{
    text-decoration: none;
    color: rgba(73, 151, 253, 0.603);
    font-size: 1rem;
}
.container_form a:hover{
    color: white;
    text-decoration: underline;
}
button{
    background-color: rgba(73, 151, 253, 0.603);
    color: white;
    padding: 10px 45px;
    border-radius: 20px;
    border: 1px solid transparent;
    text-transform: uppercase;
    margin-top: 15px;
}
button:hover{
background-color: black;
color: rgba(73, 151, 253, 0.603) ;
font-weight: bold;
}
.container_form h1{
    text-align: center;
    color: rgba(73, 151, 253, 0.603) ;
    font-weight: bold;
    font-size: 2rem;
}
.panel_1{
    margin: 10px;

}
.panel_1 p{
    text-align: start;
    margin-bottom: 5px;
}
.panel_1 h2{
    margin-bottom: 10px;
}
.container_form_Sing-in h1{
    text-align: center;
    color: rgba(73, 151, 253, 0.603) ;
    padding: 15px;
    font-weight: bold;
    font-size: 2rem;
}
.panel_2 h2{
    margin-bottom: 10px;
}
.panel_2 p{
text-align: start;
margin-bottom: 5px;
}

.container_form_Sing-in a{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 10px;
    
}



/* Footer */
footer{
    background-color:rgba(73, 151, 253, 0.137) ;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

footer img{
    width: 50px;
}
footer .logo{
    width: 80px;
}
.contendor_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Media query para celulares */
@media(max-width: 500px){
/* header */
header{
    flex-direction: column;
    align-items: center;
    
}
header img{
 width: 50px;
 margin: 10px;
}
nav{
width:90%;

}
.barra_nav{
    margin: 0;
    display: flex;
    justify-content: space-around;
    
}
/* Section1_bienvenida*/
.banner_index{
    display: flex;
    flex-direction: column;
}
.banner_index h1{
    font-size: 2.5rem;
    margin-top: 1em;
}
.banner_index h2{
    font-size: 1rem;
}
.banner_index h3{
    font-size: 0.8rem;
}
.banner_index p{
    font-size: 1rem;
    margin-top: 10px;
}
.banner_index img{
    height: 50%;
}
/* Section2_cards */
.container{
    flex-direction: column;
    align-items: center;
}
.container div{
    width: 80%;
}
.card{
    font-size: 1rem;
}
.container h2{
    font-size: 1rem;
    margin-top: 2em;
}
/* Section3_index */
.section_index2 h3{
    font-size: 1rem;
}
.section_index2 p{
    font-size: 1rem;
}
.section_index2 h4{
    font-size: 1rem;
    margin-top: 1em;
}

/*section_artistas*/
.s_artistas{
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.card_a{
    flex-direction: column;
}
.card_a div{
    font-size: 1rem;
    width: 90%;
    height: 600px;
    margin:1em;
    
}
.card_a h2{
    font-size: 1rem;
    text-align: center;
}
.card h3{
    padding: 10px;
}
.card_a img{
    width: 90%;
    height: 500px;
    margin-top: 3em;
    
}
.card_a p{
    font-size: 0.9rem;
    margin-left: 5px;
}
.card_a ul{
    font-size: 0.9rem;
    margin-bottom: 2em;
}



/* Footer */
footer{
    flex-direction: column;
    padding: 8px;
}
footer img{
    width: 30px;
}
footer .logo{
    width: 50px;
}
.contendor_footer p{
    font-size: 0.5rem
}
}
    

@media(min-width:501px) and (max-width:950px){
    header{
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    header img{
     width: 80px;
     margin: 10px;
    }
    nav{
    width: 80%;
    height: 90px;
    }
    .barra_nav{
        margin: 0;
        display: flex;
        justify-content: space-around;
        height: 50%;
        align-items: center;
        
    }
/* section1_bienvenida */
    .banner_index{
        display: flex;
        flex-direction: column;
    }
    .banner_index h1{
        font-size: 4rem;
        margin-top: 1em;
    }
    .banner_index h2{
        font-size: 1rem;
    }
    .banner_index h3{
        font-size: 0.8rem;
    }
    .banner_index p{
        font-size: 1rem;
        margin-top: 10px;
    }
    .banner_index img{
        height: 50%;
    }
    /* Section2_cards */
.container{
    flex-direction: column;
    align-items: center;
}
.container div{
    width: 60%;
    
}
.card{
    font-size: 1rem;
}
.container h2{
    font-size: 1rem;
    margin-top: 2em;
}
/* Section3_index */
.section_index2 h3{
    font-size: 1rem;
}
.section_index2 p{
    font-size: 1rem;
}
.section_index2 h4{
    font-size: 1rem;
    margin-top: 1em;
}
/*section_artistas*/
.s_artistas{
    flex-direction: column;
    align-items: center;
    width: 100%;

    
}
.card_a{
    flex-direction: column;
}
.card_a div{
    font-size: 1rem;
    width: 90%;
    height: 600px;
   
    

    
}
.card_a h2{
    font-size: 1rem;
    text-align: center;
}
.card h3{
    padding: 10px;
}
.card_a img{
    width: 90%;
    height: 500px;
    
}
.card_a p{
    font-size: 0.9rem;
    margin-left: 5px;
    text-align: justify;
}
.card_a ul{
    font-size: 0.9rem;
    
}


    
}